.serdna-app {
  text-align: center;
}

.serdna-app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.serdna-app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.serdna-app-title {
  font-size: 1.5em;
}

.serdna-app-intro {
  font-size: large;
}

@keyframes serdna-app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.serdna-app__main-content {
  height: 100%;
  overflow: auto;
}
